<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <%- include("./partials/scripts") %>
    <title>Home Page</title>
</head>
<body>
    <%- include("./partials/nav") %>
    Home Page Content will goes here....
    Updated home page......
    Thanks

    This is testing
</body>
</html>